* {
    color: black;
}

.zagolovok {
   color: rgb(8, 159, 235); 
}

#indetifikator {
    color: blueviolet;
}

p, b {
   color: rgb(20, 191, 43);
}

a {
    color: rgb(103, 34, 49);
}

.potomok h3 {
    color: rgb(11, 225, 236);
}

.daughterly > h4 {
    color: brown;
}

.neighboring,.neighboringtwo {
    color: rgb(157, 99, 17);
}